@source "./";
@import "tailwindcss";

@theme {
  --color-primary: var(--color-fuchsia-500);
  --color-secondary: #fff;
  --color-border: var(--color-slate-300);
}

h1 {
  @apply text-4xl font-bold mb-8 mt-6;
}

h2 {
  @apply text-xl font-bold;
}

button[variant="primary"] {
  @apply bg-primary text-white px-4 py-2 rounded-md;
}

*:not(a):focus {
  @apply outline-none ring-primary focus:ring-2 ring-offset-2;
}

input {
  @apply border border-border rounded-md px-3 py-2 box-border;
}
